@import "../../../style/const.less";

.main {
  background-color: @controlBackgroundColor;
  border: 2px solid @controlFrameColor;
  border-radius: 5px;

  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 20px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;

  cursor: pointer;
}

.huge {
  font-size: 30px;
}

.main:hover {
  background-color: @controlBackgroundColorHover;
}
