html, body {
    height: 100%;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
}

#reactRoot {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  overflow: hidden;
}
