@import "../../../style/const.less";

.tree, .tree ul {
  list-style-type: none;
  margin: 0 0 0 5px;
  padding: 0px;
  position: relative;
  overflow:hidden;
  color: @base3;
}

.tree li {
  margin: 0;
  padding: 0 7px;
  position: relative;
}

.tree span.name {
  cursor: pointer;
}

.tree span.name:hover {
  color: @base1;
}

.tree li::before, .tree li::after {
  content: '';
  position: absolute;
  left: 0;
}

.tree li::before {
  border-top: 1px solid #999;
  top: 7px;
  width: 5px;
  height: 0;
}

.tree li::after {
  border-left: 1px solid #999;
  height: 100%;
  width: 0px;
  top: -13px;
}

.tree > li::after{
  top: 10px;
}

.tree > li:last-child::after{
  display: none;
}

.tree ul:last-child li:last-child::after{
  height:20px;
}


// .level {
//   overflow: hidden;
//   position: relative;
//   list-style-type: none;
// }
//
// .item {
//   color: @base3;
//   cursor: pointer;
//   position: relative;
// }
//
// .item:hover {
//   color: @base1;
// }
//
// .item::before, .item::after{
//     content: '';
//     position: absolute;
//     left: 0;
// }
//
// .item::before{
//     border-top: 1px solid #333;
//     top: 10px;
//     width: 10px;
//     height: 0;
// }
//
// .item::after{
//     border-left: 1px solid #333;
//     height: 100%;
//     width: 0px;
//     top: -10px;
// }
//
// .tree > .item::after{
//     top: 10px;
// }
//
// .tree > .item:last-child::after{
//     display:none;
// }
